USE [QuanLyTraSua]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 26-Dec-20 5:38:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [nvarchar](40) NOT NULL,
	[RealName] [nvarchar](100) NULL,
	[Password] [nvarchar](40) NULL,
	[Type] [int] NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Email] [nvarchar](40) NULL,
 CONSTRAINT [PK_Username] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 26-Dec-20 5:38:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[idBill] [int] IDENTITY(1,1) NOT NULL,
	[Date] [smalldatetime] NULL,
	[TotalPrice] [int] NULL,
	[idTable] [int] NULL,
	[valueDiscount] [int] NULL,
 CONSTRAINT [PK_idOrder] PRIMARY KEY CLUSTERED 
(
	[idBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillInfo]    Script Date: 26-Dec-20 5:38:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillInfo](
	[idBill] [int] NOT NULL,
	[idDrink] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[valueDiscount] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[idBill] ASC,
	[idDrink] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 26-Dec-20 5:38:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[idDiscount] [nvarchar](10) NOT NULL,
	[valueDiscount] [int] NULL,
	[isUsed] [int] NULL,
 CONSTRAINT [PK_idDiscount] PRIMARY KEY CLUSTERED 
(
	[idDiscount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drink]    Script Date: 26-Dec-20 5:38:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drink](
	[idDrink] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](40) NULL,
	[Price] [int] NULL,
	[idCategory] [int] NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_idDrink] PRIMARY KEY CLUSTERED 
(
	[idDrink] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrinkCategory]    Script Date: 26-Dec-20 5:38:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrinkCategory](
	[idCategory] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](40) NULL,
 CONSTRAINT [PK_idCategory] PRIMARY KEY CLUSTERED 
(
	[idCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Username], [RealName], [Password], [Type], [PhoneNumber], [Email]) VALUES (N'admin', NULL, N'21232f297a57a5a743894a0e4a801fc3', 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Drink] ON 

SET IDENTITY_INSERT [dbo].[Drink] OFF
GO
SET IDENTITY_INSERT [dbo].[DrinkCategory] ON 

INSERT [dbo].[DrinkCategory] ([idCategory], [Name]) VALUES (0, N'Trà Sữa')
INSERT [dbo].[DrinkCategory] ([idCategory], [Name]) VALUES (1, N'Hồng Trà')
INSERT [dbo].[DrinkCategory] ([idCategory], [Name]) VALUES (2, N'Sinh Tố')
SET IDENTITY_INSERT [dbo].[DrinkCategory] OFF
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [Password]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[Discount] ADD  DEFAULT ((0)) FOR [isUsed]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_idTable] FOREIGN KEY([idTable])
REFERENCES [dbo].[_Table] ([idTable])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_idTable]
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD  CONSTRAINT [FK_BillInfo_idBill] FOREIGN KEY([idBill])
REFERENCES [dbo].[Bill] ([idBill])
GO
ALTER TABLE [dbo].[BillInfo] CHECK CONSTRAINT [FK_BillInfo_idBill]
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD  CONSTRAINT [FK_BillInfo_idDrink] FOREIGN KEY([idDrink])
REFERENCES [dbo].[Drink] ([idDrink])
GO
ALTER TABLE [dbo].[BillInfo] CHECK CONSTRAINT [FK_BillInfo_idDrink]
GO
ALTER TABLE [dbo].[Drink]  WITH CHECK ADD  CONSTRAINT [FK_Drink_idCategory] FOREIGN KEY([idCategory])
REFERENCES [dbo].[DrinkCategory] ([idCategory])
GO
ALTER TABLE [dbo].[Drink] CHECK CONSTRAINT [FK_Drink_idCategory]
GO
